<div class="container">
  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Novo Produto</h4>
      <form class="needs-validation" novalidate>
        <div class="row">

          <div class="col-md-6 mb-3">
            <label for="firstName">Nome</label>
            <input type="text" class="form-control" placeholder="Detergente">
          </div>

          <div class="col-md-6 mb-3">
            <label for="lastName">Preço</label>
            <input type="text" class="form-control" placeholder="5.00">
          </div>

          <div class="col-md-6 mb-3">
            <label for="username">Quantidade min.</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="0">
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="address">Quantidade</label>
            <input type="text" class="form-control" placeholder="15">
          </div>

        </div>

        <div class="float-right">
          <button class="btn btn-light mr-3">Cancelar</button>
          <button class="btn btn-primary " type="submit">Salvar</button>
        </div>

      </form>
    </div>
  </div>
</div>