<div class="container">
  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Novo Produto</h4>
      <form [formGroup]="form">
        <div class="row">

          <div class="col-md-6 mb-3">
            <label>Nome</label>
            <input formControlName="name" type="text" class="form-control" placeholder="Informe...">
          </div>

          <div class="col-md-6 mb-3 ">
              <label>Preço</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">R$</div>
              </div>
              <input formControlName="price" type="number" class="form-control" placeholder="Informe...">
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label>Quantidade min.</label>
            <div class="input-group">
              <input formControlName="minCount" type="number" class="form-control" placeholder="Informe...">
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label>Quantidade</label>
            <input formControlName="count" type="number" class="form-control" placeholder="Informe...">
          </div>

        </div>

        <div class="float-right">
          <button class="btn btn-light mr-3" [routerLink]="['/products']">Cancelar</button>
          <button class="btn btn-primary" [disabled]="form.invalid" (click)="save()">Salvar</button>
        </div>

      </form>
    </div>
  </div>
</div>