<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Sige</h5>
  <nav class="my-2 my-md-0 mr-md-3 nav">
    <a class="nav-link active" href="#">Produtos</a>
    <a class="text-dark nav-link" href="#">Pedidos</a>
    <a class="text-dark nav-link" href="#">Contas</a>
    <a class="text-dark nav-link" href="#">Veículos</a>
    <a class="text-dark nav-link" href="#">Revisões</a>
    <a class="text-dark nav-link" href="#">Serviços</a>
  </nav>
</div>